.node-core{ /* Object's name */
  color:white;
  text-anchor: middle;
  fill: #D4E4E4;
}
.core-circle{
  opacity: 0.4;
  fill: #F5F5F5;
}
.arc-title{
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform : uppercase;
}
textPath.arc-title{
  /* Center the title within the arc */
  text-anchor: middle;
}
.arc-titleArced{
  /* Hide the arc on which the title is based upon */
  display: none;
}
.inArcText{
  text-anchor: end;
  font-weight: bold;
  fill: #FBFBFB;
}
.arc-background{
  opacity: 0.1;
  fill: #989898;
}