<template>
  <div @click="randomizer()">
    <div class="ui grid"> <!-- celled -->
      <!-- IMAGES ROW-->
      <div class="row">
        <div class="column"></div>
        <!-- CAR -->
        <div class="seven wide column">
          <img class ="ui middle aligned centered image" src="./../assets/logoVuejs.png"> <!-- sample/carSample.jpg || src="./../assets/logoVuejs.png" -->
        </div>
        <!-- TRACK -->
        <div class="seven wide column">
          <img class ="ui middle aligned centered image" :src="htmlDisplay.track.picture">
        </div>
        <div class="column"></div>
      </div>
      <!-- TEXT ROW -->
      <!-- LEFT -->
      <div class="row">
        <div class="column"></div>
        <div class="three wide column">
          <div class="ui grid">
            <!-- BRAND -->
            <div class="ui sixteen wide column">
              <h2> {{ htmlDisplay.car.brand }} </h2>
              <!-- <carsJson class="brand"></carsJson> -->
            </div>
            <!-- FLAG -->
            <div class="first eight wide column">
              <!-- <img class="flag" :src="htmlDisplay.car.flag"> -->
              <i class="fr flag"></i>
            </div>
            <!-- CATEGORY -->
            <div class="second eight wide column">
              <h3>{{ htmlDisplay.car.category }}</h3>
            </div>
          </div>
        </div>
        <!-- CAR MODEL -->
        <div class="four wide column">
          <h2 id="carName" class="carName" :data-heading="htmlDisplay.car.name">{{ htmlDisplay.car.name }}</h2> <!-- add class="flickering" to constantly make it flicker-->
        </div>
        <!-- RIGHT -->
        <!-- TRACK -->
        <div class="five wide column">
          <h2>{{ htmlDisplay.track.name }}</h2>
        </div>
        <!-- TRACK'S FLAG -->
        <div class="two wide column">
          <!-- <h2><i class="be flag"></i></h2> -->
          <img class="flag" :src="htmlDisplay.track.flag">
        </div>
        <div class="column"></div>
      </div>
      <!-- DATE & WEATHER ROW -->
      <div class="row">
        <div class="column"></div>
         <!-- TIME -->
        <div class="seven wide column">
          <!-- <CircularDate></CircularDate> -->
          <div id="dateID"></div>
        </div>
        <!-- WEATHER -->
        <div class="seven wide column">

        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</template>

<script>
// import './../../semantic/dist/semantic.css'
import './../../node_modules/semantic-ui/dist/semantic.css'
import carsJson from './../assets/data/dump/cars.json'
import tracksJson from './../assets/data/dump/tracks.json'
import weathersJson from './../assets/data/dump/weathers.json'
import RedBaronModule from './47RedBaron.js'
// ModuleChart below
import ModuleChart from './moduleChart/CircularChart.js'
require('./moduleChart/circularChart.css')
var dateChart = new ModuleChart()
var DateGenerator = require('random-date-generator')
const gdy = new RedBaronModule()
export default {
  name: 'RaceGenerator',
  data () {
    return {
      htmlDisplay: {
        car: {
          category: '',
          country: '',
          brand: '',
          name: '',
          picture: '',
          flag: '',
          lights: ''
        },
        track: {
          country: '',
          name: '',
          flag: '',
          picture: ''
        },
        weather: {
          type: '',
          snow: '',
          file: ''
        }
      },
      date: {
        year: '', // new Date() ?
        month: '',
        day: '',
        hour: ''
      },
      dateColors: {
        year: '', // new Date() ?
        month: '#76f345',
        day: '#2577ff',
        hour: '#53b2a6'
      },
      yearSpanToGenerateFrom: [1950, 2020],
      carsJson: carsJson,
      tracksJson: tracksJson,
      weathersJson: weathersJson,
      randomCar: null,
      randomTrack: null,
      randomWeather: null,
      moduleHasBeenGenerated: false,
      month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    }
  },
  methods: {
    randomizer () {
      this.randomCar = this.getRandomNumber(this.carsJson.length)
      this.randomTrack = this.getRandomNumber(tracksJson.length)
      this.randomWeather = this.getRandomNumber(weathersJson.length)

      /*
       * RANDOM DATE USING A GENERATOR
       * plugin : random-date-generator
       * author : kristijan-pajtasev
       */
      // Random Fixed Year
      var randomizedDate = DateGenerator.getRandomDateInRange(new Date(this.yearSpanToGenerateFrom[0], 1, 1), new Date(this.yearSpanToGenerateFrom[1], 12, 31))
      // Random
      // var randomizedDate = DateGenerator.getRandomDate()

      this.date.year = randomizedDate.getFullYear()
      this.date.month = randomizedDate.getMonth() + 1
      this.date.day = randomizedDate.getDay()
      this.date.hour = randomizedDate.getHours() + 1

      // set the CSS colors
      this.setdateColors(this.date.month, this.date.day, this.date.hour)
      // Transfert randomized data to variables
      this.setHtmlDisplay()
    },
    getRandomNumber (jsonSize) {
      return Math.floor(Math.random() * ((jsonSize + 1) - 1)) + 1
    },
    setHtmlDisplay () {
      // loop on the object htmlDisplay
      for (var key in this.htmlDisplay) {
        var obj = this.htmlDisplay[key]
        // Loop for each attributes of obj
        for (var prop in obj) {
          /*eslint-disable */ // -> so we can use eval()
          this.htmlDisplay[key][prop] = eval('this.' + key + 'sJson[this.random' + gdy.toPropercase(key) + '- 1]' + '[prop]')
          /*eslint-enable */
        }
      }
      if (this.moduleHasBeenGenerated) {
        this.updateDateChart()
      }

      // Display lights if needed
      document.querySelector('#carName').attributes['class'].value = this.htmlDisplay.car.lights ? 'flickering' : ''
    },
    updateDateChart () {
      /* TODO */
      dateChart.updateNodeName(this.date.year)
      dateChart.updateNodeColor(this.dateColors.month, 0.6)
      // dateChart.updateNodeTextColor(this.dateColors.hour)

      // Do a for Each this.date
      dateChart.update({
        arc: 'Month',
        value: this.convertDateToPercentage('Month', this.date.month),
        displayedValue: this.month[this.date.month - 1],
        color: this.dateColors.month
      })
      dateChart.update({
        arc: 'Day',
        value: this.convertDateToPercentage('Day', this.date.day),
        displayedValue: this.date.day,
        textAfterValue: gdy.daySuffix(this.date.day), // TODO calculate the suffix
        color: this.dateColors.day,
        gradient: true
      })
      dateChart.update({
        arc: 'Hour',
        value: this.convertDateToPercentage('Hour', this.date.hour),
        displayedValue: this.date.hour > 12 ? this.date.hour / 2 : this.date.hour,
        textAfterValue: this.date.hour > 12 ? 'pm' : 'am',
        color: this.dateColors.hour
      })
    },
    convertDateToPercentage (dateType, value) {
      /* TODO */
      // Do a for Each
      if (dateType === 'Month') {
        value = (value / 12) * 100
      }
      if (dateType === 'Day') {
        value = (value / 31) * 100
      }
      if (dateType === 'Hour') {
        value = (value / 24) * 100
      }
      return value // 88 as test , should be x
    },
    setdateColors (month, day, hour) {
      /*  TODO */
      // Improve calculator
      var night = (hour < 8 || hour > 20) ? 'true' : 'false'

      // MONTHS TODO : improve with day
      if (month < 4 || month === 12) {
        // WINTER
        this.dateColors.month = (night === 'true' ? '#757575' : '#E0E0E0')
      } else if (month > 3 && month < 7) {
        // SPRING
        this.dateColors.month = (night === 'true' ? '#689F38' : '#9CCC65')
      } else if (month > 6 && month < 10) {
        // SUMMER
        this.dateColors.month = (night === 'true' ? '#FBC02D' : '#FFEE58')
      } else {
        // FALL
        this.dateColors.month = (night === 'true' ? '#5D4037' : '#8D6E63')
      }

      // HOURS
      if (night === 'true') {
        this.dateColors.hour = '#01579B'
      } else if (hour === 9 || hour === 19) {
        this.dateColors.hour = '#FFA000'
      } else {
        this.dateColors.hour = '#FFD54F'
      }
    }
  },
  mounted () {
    this.randomizer()
    dateChart.generate({
      elementId: 'dateID',
      arc: ['Hour', 'Day', 'Month'],
      options: {
        name: this.date.year,
        arcTitleDisplayed: true,
        arcThickness: 24,
        displayArcTitleAsArc: true,
        startAngle: -135,
        endAngle: 135,
        colorTransition: false
      }
    })
    this.moduleHasBeenGenerated = true
    this.updateDateChart()
  }
}
</script>

<style>
.flag{
  /* position: relative; */
  max-height: 60px;
}
h1{
  margin: 0 auto;
  font-weight: 300;
  font-size: 50px;
  background: linear-gradient(135deg, #2577ff, #76f345);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 100px;
}

h3,h2{
  color: #D4E4E4;
  position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  /* text-align: center;
  vertical-align: middle; */
  /* position: relative; */
  /* top: 50%;
  transform: translateY(-50%);  */
}

footer{
  margin-top: 3em;
	text-align: center;
	color: #D4E4E4;
}

/* FLICKERING */
.flickering:before {
	content: attr(data-heading);
		position: absolute;
		overflow: hidden;
		color: #ffcc00;
		width: 100%;
		z-index: 5;
		text-shadow: none;
		text-align: left;
		animation: flicker 3s linear infinite;
}
@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 rgba(#fff, .4), 1px -1px 0 rgba(#fff, .4), -1px 1px 0 rgba(#fff, .4), 1px 1px 0 rgba(#fff, .4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}
/* END FLICKERING */
</style>