<template>
  <div id="singleView">
    <!-- <transition name="fade" mode="out-in">
      <trackDisplay class="trackDisplay" v-if="showDateDisplay"></trackDisplay>
    </transition> -->
    <transition name="fade" mode="out-in">
      <dateDisplay class="dateDisplay" v-if="showDateDisplay"></dateDisplay>
    </transition>
    <!-- <transition name="fade" mode="out-in">
      <carDisplay class="carDisplay" v-if="showDateDisplay"></carD>
    </transition> -->
      <FooterBar></FooterBar>
  </div>
</template>

<script>
import FooterBar from './footerBar'
import DateDisplay from './DateDisplay'
// var $ = require('jquery')
export default {
  // name: 'App',
  components: {
    FooterBar,
    DateDisplay
  },
  data () {
    return {
      showDateDisplay: true,
      showTrack: false,
      showCar: false,
      buttonNames: ['btn-track', 'btn-date', 'btn-car']
    }
  },
  methods: {
    toggle (base) {
      this.buttonNames.forEach((element) => {
        var closest = event.target.closest('.' + element)
        if (closest && base.contains(closest)) {
          switch (element) {
            case 'btn-track':
              this.showDateDisplay = false
              this.showTrack = true
              this.showCar = false
              break
            case 'btn-date':
              this.showDateDisplay = true
              this.showTrack = false
              this.showCar = false
              break
            case 'btn-car':
              this.showDateDisplay = false
              this.showTrack = false
              this.showCar = true
              break
            default:
              console.log('its nothing')
          }
        }
      })
    }
  },
  mounted () {
    const self = this
    var base = document.querySelector('#footerBar')
    base.addEventListener('click', function (event) {
      self.toggle(base)
    })
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>