<template>
  <div id="app">
    <img class="logo" src="./assets/logoText.png">
    <!-- <h1>PC2 | Race Generator</h1> -->
    <router-view/>
  </div>
</template>

<script>
import RaceGenerator from './components/RaceGenerator'
import RedBaronModule from './components/47RedBaron.js'
const gdy = new RedBaronModule()
export default {
  components: {RaceGenerator},
  name: 'app',
  data () {
    return {
      smoothColorChange: true
    }
  },
  methods: {
  },
  mounted () {
    gdy.progressBar('#2577ff', '#76f345')
  }
}
</script>

<style>
::-webkit-scrollbar {
    display: none;
}
.logo{
	/*margin-top: 00px; */ /* 30 */
  max-height: 70px; /* 100 */
  text-align: center;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body{
  color: #D4E4E4;
  /* background-color: #3a3a3c; */
  /* background-image: -webkit-radial-gradient(circle, #3f3f3f, #3a3a3a, #353535); */
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

    /* background: rgb(42,98,169);
  background: -moz-linear-gradient(top,  rgba(42,98,169,1) 0%, rgba(51,146,190,1) 50%, rgba(61,200,213,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(42,98,169,1) 0%,rgba(51,146,190,1) 50%,rgba(61,200,213,1) 100%);
  background: linear-gradient(to bottom,  rgba(42,98,169,1) 0%,rgba(51,146,190,1) 50%,rgba(61,200,213,1) 100%); */
  }
.progressBar {
  left: 2%;
  border-radius: 4px 4px;
  width:96%;
  height: 4px;
  position: fixed;
  top: 0%;
  z-index:1;
}
</style>
